{% extends 'base.html' %}

{% block title %}
{{ post.title }}
{% endblock title %}

{% block content %}

<section class="dados-de-filme">
    <img src="{{ post.poster_url }}" alt="Capa do post {{ post.title}}">
    <ul>
        <h1>{{ post.title }}</h1>
        <li>{{ post.date }} </li>
        <p>{{ post.context }}</p>
        <li><a href="{% url 'posts:update' post.id %}">Editar</a></li>
        <li><a href="{% url 'posts:delete' post.id %}">Apagar</a></li>
    </ul>
</section>

<hr>

<section>
    <header>
        <h3>Comentários</h3>
    </header>
    <ul>
        {% if post.comment_set.all %}
            {% for comment in post.comment_set.all %}
                <figure>
                    <blockquote>
                        "{{ comment.text }}"
                    </blockquote>
                    <figcaption>—{{ comment.author }}
                </figure>
            {% endfor %}
        {% else %}
            <p>Ainda não existe nenhum comentário para este post.</p>
        {% endif %}
    </ul>
    <hr>

    <a href="{% url 'posts:comment' post.pk %}"><button>Crie seu Comentário</button></a>
</section>
{% endblock content %}