{% extends 'base.html' %}

{% block content %}
<h2>Atualizar Post {{ post.title }}</h2>
<form method="POST" action="{% url 'posts:update' post.id%}">
    {% csrf_token %}
    <p>
        <label for="id_title">Título:</label>
        <input type="text" name="title" id="id_title" value="{{ post.title }}" />
    </p>
    <p>
        <label for=" id_context">Ano de Lançamento:</label>
        <input type="text" name="context" id="id_context" value="{{ post.context }}" />
    </p>
    <p>
        <label for=" id_poster_url">URL do Poster:</label>
        <input type="url" name="poster_url" id="id_poster_url" value="{{post.poster_url}}" />
    </p>
    <button type="submit">Atualizar</button>
</form>

{% endblock content %}